body {
    background-color: #FEFBE7;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 60%;
}


input[type=text] {
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #DAE5D0;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #c2cfb6;
}

ul {
    width: 60%;
    margin: 0;
    padding: 0;
}

ul > li {
    margin: 20px 0;
    padding: 5px 0;
    list-style-type: none;
    border-bottom: 1px solid #ccc;
}

a:link {
    color: #7e989e;
}

a:hover {
    color: #A0BCC2;
}

.when-created {
    float: right;
}